<h1>Hangman!</h1>

<form id="first-form">
  <input type="text" id="chosen-word" autofocus></input>
  <button id="start-game" onclick="startGame()">Start</button>
</form>

<div id="lives">
  <h1>X</h1>
  <h1>X</h1>
  <h1>X</h1>
</div>

<script src='js/game.js'></script>
